.nba-headshot {
  height: 15rem;
  width: auto;
}

.stat-col {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
}

.test {
  color: white;
  background-color: #333;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}

.header-stats {
  font-family: "Roboto", monospace;
  font-size: 2rem;
  font-weight: 400;
}

.player-name {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  font-weight: 800;
  line-height: 60px;
}

@media only screen and (max-width: 400px) {
  .header-stats {
    font-size: 1.5rem;
    padding-top: 2rem;
  }

  .player-name {
    font-size: 3rem;
    width: 100%;
  }
}

@media only screen and (max-height: 400px) {
  body {
    padding-top: 12rem;
  }
}

h1 {
  text-align: left;
}
