.prompt-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prompt-col h1 {
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.submit-button {
  height: 5rem;
  width: 7rem;
}

.prompt-col h2 {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
}

.form-col h3 {
  display: flex;
  font-size: 1.5rem;
}

.input-container {
  display: flex;
}

.input-container .link {
  width: 200px;
}

.players-button {
  background-color: lightgray;
}

.suggestion-entry {
  background-color: white;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
}

.suggestion-entry:hover {
  background-color: rgb(13, 204, 204);
}

.suggestion-link {
  text-decoration: none;
  color: black;
}

.suggestion-box {
  border: 1px solid grey;
}

@media only screen and (max-width: 297px) {
  body {
    padding-top: 15rem;
  }
}
