body {
  padding-top: 12rem !important;
}

tbody img {
  width: 3rem;
  height: 3rem;
  margin: 0 1rem 0 1rem;
}

td {
  white-space: nowrap;
}

.nba-standings-header {
  font-family: "Oswald", monospace;

  text-align: center;
  padding-bottom: 2rem;
}

.nba-standings-header h1 {
  font-size: 3rem;
  font-weight: 900;
}

.nba-standings-header h2 {
  font-size: 2rem;
  font-weight: 900;
}

.nba-standings-header span {
  color: green;
}

.team-cell {
  table-layout: auto;
  width: 20rem;
}

.stat {
  text-align: center;
}

.conference-buttons {
  display: flex;
  justify-content: center;
}

.conference-buttons div {
  width: 100%;
  background-color: #333;
  font-size: 2.5rem;
  font-family: "Oswald", monospace;
  text-align: center;
  color: white;
}

.conference-buttons div:hover {
  background-color: grey;
}

@media only screen and (max-width: 400px) {
  .nba-standings-header h1 {
    font-size: 2rem;
  }

  .nba-standings-header h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .conference-buttons div {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 300px) {
  .conference-buttons div {
    font-size: 1.75rem;
  }
}
