.points-col {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.time-period-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.team-score {
  font-weight: 700;
}

.border-container {
  border: 4px solid grey;
}

.team-logo {
  width: auto;
  height: 5rem;
  padding-top: 0.5rem;
}

.container {
  color: black !important;
}

.scorecard-container {
  max-width: 75rem;
}

@media only screen and (max-width: 800px) {
  .scorecard-container {
    max-width: 50rem;
    max-height: 25rem;
  }
}
