.games-header {
  text-align: center;
  color: black;
  padding-top: 2rem;
  font-family: "Oswald", sans-serif !important;
  font-size: 4rem !important;
  font-weight: 900;
}

.form {
  display: flex;
  margin: auto;
}

body {
  padding-top: 16vh;
}
